spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}
  cloud:
    gateway:
      default-filters:
        - name: CircuitBreaker
          args:
            name: defaultCircuitBreaker
            fallbackUri: forward:/fallback
        - name: Retry
          args:
            retries: 1
            statuses: SERVICE_UNAVAILABLE
            methods: POST
      routes:
        - id: customers-service
          uri: http://customers-service.dev.svc.cluster.local:8081
          predicates:
            - Path=/api/customer/**
          filters:
            - StripPrefix=2

        - id: visits-service
          uri: http://visits-service.dev.svc.cluster.local:8082
          predicates:
            - Path=/api/visit/**
          filters:
            - StripPrefix=2

        - id: vets-service
          uri: http://vets-service.dev.svc.cluster.local:8083
          predicates:
            - Path=/api/vet/**
          filters:
            - StripPrefix=2

        - id: genai-service
          uri: lb://genai-service
          predicates:
            - Path=/api/genai/**
          filters:
            - StripPrefix=2
            - CircuitBreaker=name=genaiCircuitBreaker,fallbackUri=/fallback

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
    exemplars:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${MANAGEMENT_ZIPKIN_TRACING_ENDPOINT:http://zipkin.monitoring.svc.cluster.local:9411/api/v2/spans}


---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888

